<div ng-controller="businessOrderController as vm" class="innerTop" ng-init="vm.getPagedDataAsync()">
    <!--附件上传-->
    <div class="popMask" ng-show="vm.popAnnex">
        <div class="annexSubPop">
            <h3>附件提交</h3>
            <img ng-click="vm.popAnnex = false" src="static/images/pop-close.png" alt="">
            <div class="popTxt">
                <span>请根据提供模板填写后上传</span>
                <a href="javascript:;" ng-click="vm.downloadExcelList()">（投保信息模板下载）</a>
            </div>
            <ul class="clearfix mb20">
                <li class="w100 text_r">商户标识：</li>
                <li><input type="text" ng-model="vm.source" class="w80" ng-change="vm.getSource(vm.source)"></li>
                <li style="width: auto;" class="ml10"><em class="lh40" ng-bind="'商户名称：' + vm.companyName" ng-if="vm.companyName"></em></li>
            </ul>
            <ul class="clearfix">
                <li class="w100 text_r">附件：</li>
                <li><input type="text" ng-model="vm.fileName"></li>
                <li>
                    <span>浏览</span>
                    <input type="file" ng-file-select="vm.readExcel($files)">
                </li>
            </ul>
            <p>仅接受Excel格式</p>
            <div class="annexSubButton">
                <input class="btn btn-warning" type="submit" value="附件上传" ng-if="vm.canUpload" ng-click="vm.uploadExcel()">
                <input class="btn btn-warning" type="submit" value="附件上传" disabled ng-if="!vm.canUpload">
            </div>
        </div>
    </div>
    <ol class="breadcrumb"></ol>
    <div class="pLR40">
        <div class="rightDiv">
            <div class="rightContTitle">
                <h2>商户订单</h2>
            </div>
            <div class="queryDiv">
                <div class="queryDivIn">
                    <form class="form-horizontal">
                        <div>
                            <div class="f_l mr15 mb15">
                                <p class="f_l lh40">豆沙包订单号：</p>
                                <input type="text" class="form-control f_l w150" placeholder="请输入豆沙包订单号" ng-model="vm.query.ticketNo">
                            </div>
                            <div class="f_l mr15 mb15">
                                <p class="f_l lh40">渠道订单号：</p>
                                <input type="text" class="form-control f_l w150" placeholder="请输入渠道订单号" ng-model="vm.query.expressNo">
                            </div>
                            <div class="f_l mr15 mb15">
                                <p class="f_l lh40">商户名称：</p>
                                <input type="text" class="form-control f_l w150" placeholder="请输入商户名称" ng-model="vm.query.companyName">
                            </div>
                            <div class="f_l mr15 mb15">
                                <p class="f_l lh40">产品类型：</p>
                                <select class="form-control w80" ng-options="o.id as o.name for o in vm.productTypeList"
                                        ng-model="vm.query.productType">
                                    <option value="">全部</option>
                                </select>
                            </div>
                            <div class="f_l mr15 mb15">
                                <p class="f_l lh40">申请时间：</p>
                                <input type="text" class="form-control w160 mr5 f_l" placeholder="请输入开始时间"
                                       ng-model="vm.query.applyStartTime" readonly id="applyStartTime">
                                <p class="f_l mr5 lh40">-</p>
                                <input type="text" class="form-control w160 f_l" placeholder="请输入结束时间"
                                       ng-model="vm.query.applyEndTime" readonly id="applyEndTime">
                            </div>
                            <div class="f_l mb15">
                                <input class="btn btn-warning mr10" type="submit" value="搜索" ng-click="vm.search()">
                                <input class="btn btn-info mr10" type="submit" value="重置" ng-click="vm.clear()">
                                <input class="btn btn-info mr10" type="submit" value="新增投保" ui-sref="businessOrderAdd">
                                <input class="btn btn-info mr10" type="submit" value="批量投保" ng-click="vm.popAnnex = true">
                                <input class="btn btn-info" type="submit" value="导出excel" ng-click="vm.downloadExcel()">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="noDataDiv" ng-if="!vm.list.length">
                <div class="noData">
                    <div class="noDataBg"></div>
                    <p>暂时没有数据～</p>
                </div>
            </div>
            <div class="tableList" ng-show="vm.list.length > 0">
                <table class="table tableInfo" >
                    <tr>
                        <th>序号</th>
                        <th>订单号</th>
                        <th>渠道订单号</th>
                        <th>商户名称</th>
                        <th>支付金额（元）</th>
                        <!--<th>结算金额（元）</th>-->
                        <th>申请时间</th>
                        <th>处理时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-repeat="o in vm.list">
                        <td ng-bind="$index + 1"></td>
                        <td ng-bind="o.ticketNo"></td>
                        <td ng-bind="o.expressNo"></td>
                        <td ng-bind="o.companyName"></td>
                        <td ng-bind="o.discountAmount"></td>
                        <!--<td></td>-->
                        <td ng-bind="o.orderTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
                        <td ng-bind="o.updateAt | date:'yyyy-MM-dd HH:mm:ss'"></td>
                        <td ng-bind="o.statusText"></td>
                        <td><a href="javascript:;" ui-sref="businessOrderDetails({id:o.id,productId:o.productId})">详情</a></td>
                    </tr>
                </table>
                <div class="page" paging page-object="vm.query" click-function="vm.getPagedDataAsync"></div>
            </div>
        </div>
    </div>
    <div class="tableList" ng-show="false">
        <table class="tableInfo02">
            <tr>
                <th ng-repeat="value in vm.downloadList">{{value}}</th>
            </tr>
        </table>
    </div>
</div>