<div ng-controller="claimOrderAddController as vm" class="innerTop">
    <ol class="breadcrumb"></ol>
    <div class="pLR40">
        <div class="rightDiv">
            <div class="rightContTitle rightContTitle02">
                <h2>新增理赔</h2>
                <img src="static/images/pop-close.png" alt="" ui-sref="claimOrder">
            </div>
            <div class="detailDiv">
                <h2>理赔信息</h2>
                <div class="addInsurance addClaim">
                    <ul>
                        <li class="clearfix">
                            <div class="floatDiv">
                                <label>商户标识<i>*</i>：</label>
                                <span ng-bind="vm.applyData.source"></span>
                            </div>
                            <div class="floatDiv">
                                <label>商户名称：</label>
                                <span ng-bind="vm.applyData.companyName"></span>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="floatDiv">
                                <label>渠道订单号<i>*</i>：</label>
                                <input type="text" class="form-control w150" ng-model="vm.applyData.channelOrderNo"
                                       ng-blur="vm.getOrder()">
                            </div>
                            <div class="floatDiv">
                                <label>豆沙包订单号<i>*</i>：</label>
                                <input class="form-control f_l w150" type="text" ng-model="vm.applyData.ticketNo"
                                       ng-blur="vm.getOrder()">
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="floatDiv">
                                <label>理赔产品<i>*</i>：</label>
                                <select class="form-control w150 f_l" ng-model="vm.applyData.productId"
                                        ng-options="obj.id as obj.id for obj in vm.productIdList">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                            <div class="floatDiv" ng-if="vm.isGroup">
                                <label>组合版产品<i>*</i>：</label>
                                <select class="form-control w150 f_l" ng-model="vm.applyData.combinationId"
                                        ng-options="obj.id as obj.id for obj in vm.compositeProductList">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                            <div class="floatDiv">
                                <label>产品名称：</label>
                                <span ng-bind="vm.applyData.productName"></span>
                            </div>
                        </li>
                        <li class="clearfix" ng-if="vm.img.length > 0">
                            <div class="f_l mr20 mb20" ng-repeat="obj in vm.img">
                                <p ng-bind="obj.docName + '：'" class="lh40 f_l mr10 text_r"></p>
                                <p class="f_l mr10 lh40">
                                    <img ng-src="{{obj.value}}" ng-if="obj.isImg" width="200" height="200"/>
                                    <a ng-href="{{obj.value}}" ng-if="obj.isFont" target="_blank">点击下载</a>
                                </p>
                                <span class="uploadScreenshot">
                                        <span class="scanFile btn btn-info">浏览</span>
                                        <input class="form-control f_l w100" type="file"
                                               ng-file-select="vm.readExcel($files,obj)">
                                </span>
                            </div>
                        </li>
                        <li class="clearfix" ng-if="vm.font.length > 0">
                            <div class="floatDiv" ng-repeat="obj in vm.font">
                                <label ng-bind="obj.docName + '：'"></label>
                                <input class="form-control f_l w150" type="text" ng-model="obj.value">
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="floatDiv">
                                <label>理赔金额<i>*</i>：</label>
                                <input class="form-control f_l w150" type="text" ng-model="vm.applyData.applyAmount">
                                <span class="ml5">元</span>
                            </div>
                        </li>
                        <li class="clearfix remaksLi">
                            <div class="floatDiv">
                                <label>备注<i>*</i>：</label>
                                <textarea class="form-control f_l" type="text" ng-model="vm.applyData.remark"></textarea>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix text_c">
                        <input class="btn btn-warning mt20 mb20 w200" type="button" value="提交" ng-click="vm.submit()">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>