<div ng-controller="userManageDetailsForeignersController as vm" class="innerTop" ng-init="vm.getPagedDataAsync()">
    <ol class="breadcrumb"></ol>
    <div class="pLR40">
        <div class="rightDiv">
            <div class="rightContTitle">
                <h2>用户详情</h2>
                <i class="closeIco" ui-sref="userManage"></i>
            </div>
            <div class="rightLay overfl">
                <h4 class="titleNav">基本信息</h4>
                <div class="f_l">
                    <div class="overfl mb15">
                        <p class="f_l lh40 w200 c_999 text_r">id：</p>
                        <p class="f_l lh40">DSB1001345</p>
                    </div>
                    <div class="overfl mb15">
                        <p class="f_l lh40 w200 c_999 text_r">姓名：</p>
                        <p class="f_l lh40">Joe Johnson</p>
                    </div>
                    <div class="overfl mb15">
                        <p class="f_l lh40 w200 c_999 text_r">电话号：</p>
                        <p class="f_l lh40">7957632738</p>
                    </div>
                    <div class="overfl mb15">
                        <p class="f_l lh40 w200 c_999 text_r">护照：</p>
                        <p class="f_l lh40">NE1455151</p>
                    </div>
                </div>
                <div class="f_l">
                    <div class="overfl mb15">
                        <p class="f_l lh40 w200 text_r c_999">地址：</p>
                        <p class="f_l lh40">United Kingdom-London5B Hampton RoadForestgate</p>
                    </div>
                    <div class="overfl mb15">
                        <p class="f_l lh40 w200 text_r c_999">邀请码：</p>
                        <p class="f_l lh40">4G3H4H</p>
                    </div>
                    <div class="overfl mb15">
                        <p class="f_l lh40 w200 text_r c_999">opinid：</p>
                        <p class="f_l lh40">23JH4GH3JHG478</p>
                    </div>
                    <div class="overfl mb15">
                        <p class="f_l lh40 w200 text_r c_999">注册时间：</p>
                        <p class="f_l lh40">2018-02-12 14:06:33</p>
                    </div>
                    <div class="overfl">
                        <p class="f_l lh40 w200 text_r c_999">最后登录时间：</p>
                        <p class="f_l lh40">2018-04-04 08:24:35</p>
                    </div>
                </div>
                <div class="f_l">
                    <div class="overfl mb15">
                        <p class="f_l lh40 w200 text_r c_999">微信头像：</p>
                        <p class="f_l lh40">
                            <img src="static/images/weixin-head2.jpg" width="200" height="200"/>
                        </p>
                    </div>
                </div>
            </div>
            <div style="text-align: center" class="mt20">
                <input type="button" class="btn btn-info" value="返回" ui-sref="userManage"/>
            </div>
        </div>
    </div>
</div>